{% extends 'blog/base.html' %}
{% block content %}
    <div class="container container-desktop">
        {% for post in posts %}
        
            <!-- <div class="row article-desktop">
                <div class="col-sm-6">
                    <img src="../../static/blog/images/paris.jpg" class="article-img shadow-lg" alt="Eiffel Tower">
                </div>
                <div class="col-sm-6">
                    <div class="card card-desktop">
                        <div class="card-body">
                            <h5 class="card-title card-title-desktop">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|safe|truncatewords:200 }}</p>
                            <a href="{% url 'post-detail' post.id %}"><button class="btn btn-info">Devamını Oku</button></a>
                        </div>
                        <div class="card-footer card-footer-desktop">
                            <div class="media">
                                <img src="{{ post.author.profile.image.url }}" class="mr-3 author-img" alt="">
                                <div class="media-body">
                                    <a href="{% url 'user-posts' post.author.username %}" style="color: #F57B39;"><h5 class="mt-0">{{ post.author }}</h5></a>
                                    <p class="text-muted">{{ post.date_posted }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->        
            <div class="card mb-3" style="max-width: 1240px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ post.cover_pic.url }}" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|safe|truncatewords:70 }}</p>
                            <p class="card-text"><small class="text-muted">{{ post.date_posted }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_paginated %}
        <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item">
                    <a class="page-link current-page" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>    
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
        </ul>
        {% endif %}    
    </div>
{% endblock content %}