{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    <section class="article">
        <!--    Section of Article for Tablets   -->
        <div>
            {% for post in posts %}   
            <div class="card article-tablet">
                <img src="../../static/blog/images/paris.jpg" class="card-img-top" alt="">
                <div class="card card-tablet">
                    <div class="card-body">
                        <h5 class="card-title card-title-tablet">{{ post.title }}</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla purus non leo lobortis cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In at urna in ipsum tristique sagittis vitae et risus. Aenean placerat luctus eros id efficitur. Ut hendrerit massa vitae felis faucibus pharetra. Vivamus dignissim dictum nisi et hendrerit. Proin sit amet magna sed ligula sodales aliquam. Proin nunc massa, mattis a lacus in, vehicula euismod diam. Sed libero enim, sodales sit amet magna ut.</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--    Section of Article for Desktop   -->
        <div class="container container-desktop">
            {% for post in posts %}
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../static/blog/images/paris.jpg" class="article-img shadow-lg" alt="Eiffel Tower">
                </div>
                <div class="col-sm-6">
                    <div class="card card-desktop">
                        <div class="card-body">
                            <h5 class="card-title card-title-desktop">{{ post.title }}</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla purus non leo lobortis cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In at urna in ipsum tristique sagittis vitae et risus. Aenean placerat luctus eros id efficitur. Ut hendrerit massa vitae felis faucibus pharetra. Vivamus dignissim dictum nisi et hendrerit. Proin sit amet magna sed ligula sodales aliquam. Proin nunc massa, mattis a lacus in, vehicula euismod diam. Sed libero enim, sodales sit amet magna ut.</p>
                            <a href="{% url 'post-detail' post.id %}"><button class="btn btn-info">Devamını Oku</button></a>
                        </div>
                        <div class="card-footer card-footer-desktop">
                            <div class="media">
                                <img src="{{ post.author.profile.image.url }}" class="mr-3 author-img" alt="">
                                <div class="media-body">
                                    <a href="{% url 'user-posts' post.author.username %}"><h5 class="mt-0">{{ post.author }}</h5></a>
                                    <p class="text-muted">{{ post.date_posted }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            {% endfor %}
<!--             {% if is_paginated  %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page_1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn bnt-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}    
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %} -->

            {% if is_paginated %}
                <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item">
                            <a class="page-link current-page" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>    
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
                </ul>
            {% endif %}        
        </div>
    </section>
    
{% endblock content %}