{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container content-section">
        <form action="" method="POST" class="register-form-wrap">
            {% csrf_token %}
            <fieldset class="form-group register-form">
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info register-button" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock content %}